astroid==2.4.2
beautifulsoup4==4.9.0
breadability==0.1.20 
certifi==2020.6.20   
chardet==3.0.4       
click==7.1.2
colorama==0.4.3      
docopt==0.6.2        
fpdf==1.7.2
html5lib==1.0.1      
idna==2.10
isort==4.3.21
joblib==0.16.0
lazy-object-proxy==1.4.3
lxml==4.5.1
mccabe==0.6.1
mechanize==0.4.5
nltk==3.5
pdfminer3==2018.12.3.0
pycountry==20.7.3
pycryptodome==3.9.8
pylint==2.5.3
python-dateutil==2.8.1
regex==2020.6.8
requests==2.24.0
six==1.14.0
sortedcontainers==2.2.2
soupsieve==2.0
sumy==0.8.1
toml==0.10.1
tqdm==4.47.0
urllib3==1.25.9
webencodings==0.5.1
wrapt==1.12.1